*.pyc
/.idea/
/containers_data/
backend/.env
backend/celerybeat-schedule
frontend/node_modules/
frontend/static/bundles/
frontend/webpack-stats.json
media
/backend/.coverage
/backend/coverage.xml
/backend/previous-coverage.xml
/frontend/coverage/
/frontend/cobertura-coverage.xml
